@font-face {
  font-family: "overskrift";
  src: url(krungthep-webfont.woff2) format("woff2");
}
@font-face {
  font-family: "brødtekst";
  src: url(roboto-regular-webfont.woff2) format("woff2");
}

/* Nulstilling af margin og padding på alle elementer, samt ændring af box model på alle elementer */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Normalisering af font og linjehøjde på dokumentets tekster, samt nedtoning af tekstfarven */
body {
  font-family: roboto, system-ui, sans-serif;
  line-height: 1.6;
  color: #ffffff;
  margin-left: 2px;
  margin-right: 2px;
  margin-top: 10px;
  font-weight: 500;
  background: rgb(68, 61, 73);
  background: linear-gradient(90deg, rgba(68, 61, 73, 1) 3%, rgba(99, 47, 47, 1) 50%, rgba(50, 10, 10, 1) 100%);
}

/* Normalisering af billeder */
img {
  width: 100%;
  height: auto;
  display: block;
}

.video {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-row-gap: 8px;
  padding-top: 20px;
  grid-template-rows: 1fr min-content;
}

/* aside {
  display: grid;
  grid-template-rows: 1fr 1fr;
  gap: 20px;
} */

p,
h1 {
  text-align: center;
  max-width: 75ch;
  margin: auto;
  /* width: 50%; */
}
h1 {
  font-family: overskrift;
  font-size: 3rem;
  padding-bottom: 10px;
}

video,
iframe {
  width: 70%;
  display: block;
  margin: 0 auto;
  border: 5px solid black;
}

.container {
  padding-top: 20px;
  display: grid;
  place-items: center;
}

.container > img,
h2 {
  grid-area: 1/1;
  color: white;
  text-align: center;
}
h2 {
  font-style: italic;
}

#bottom {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-top: 20px;
  padding-bottom: 20px;
  gap: 5px;
  width: 80%;
  margin: auto;
}

.img1 {
  grid-column-start: span 2;
}

.img2,
.img3 {
  /* width: 200px;
  height: 150px; */
  object-fit: cover;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

@media (max-width: 600px) {
  h2 {
    font-size: small;
  }
}
